name: Heroku - V2Ray

on:
  push:
    paths:
      - 'v2ray/*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      V2_UUID: ${{ secrets.V2_UUID }}
      V2_WS_PATH: ${{ secrets.V2_WS_PATH }}
      
    steps:
      - uses: actions/checkout@v2
        
      - name: Generate Heroku File
        working-directory: v2ray
        run: |
          sed -i "s@V2RAYUUID@${V2_UUID}@g" Dockerfile
          sed -i "s@V2RAYWSPATH@${V2_WS_PATH}@g" Dockerfile
          sed -i "2i sed -i "s@8080@\${PORT}@g" /v2/config.json"  entrypoint.sh
          
      - name: Deploy to Heroku
        uses: AkhileshNS/heroku-deploy@v3.8.8
        with:
          heroku_email: ${{ secrets.HEROKU_EMAIL }} # your heroku email
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }} # your  heroku api key
          heroku_app_name: ${{ secrets.HEROKU_V2_APP_NAME }} # you aplication name
          appdir: v2ray
          usedocker: true
